@page
@model Lootcouncil.Pages.Setup.CharactersModel
@{
    ViewData["Title"] = "Characters";
}

@foreach (var realm in Model.CharactersByRealm.OrderBy(r => r.Key))
{
    <h2>@realm.Key</h2>
    <table class="mdl-data-table mdl-js-data-table w--100">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Faction</th>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">Race</th>
                <th class="mdl-data-table__cell--non-numeric">Class</th>
                <th>Level</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in realm.OrderByDescending(c => c.Level))
            {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">@character.Faction.Name</td>
                    <td class="mdl-data-table__cell--non-numeric">@character.Name</td>
                    <td class="mdl-data-table__cell--non-numeric">@character.PlayableRace.Name</td>
                    <td class="mdl-data-table__cell--non-numeric">@character.PlayableClass.Name</td>
                    <td>@character.Level</td>
                    <td class="mdl-data-table__cell--non-numeric text--center">
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" asp-area="" asp-page="/Setup/Character" asp-route-realm="@character.Realm.Slug" asp-route-name="@character.Name">
                            <i class="material-icons">add</i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
