@page
@model Lootcouncil.Pages.Setup.CharactersModel
@{
}

<table class="mdl-data-table mdl-js-data-table">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Realm</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th>Level</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model.Characters)
        {
            <tr>
                <td class="mdl-data-table__cell--non-numeric">@character.Realm.Name</td>
                <td class="mdl-data-table__cell--non-numeric">@character.Name</td>
                <td>@character.Level</td>
                <td class="mdl-data-table__cell--non-numeric">
                    <!-- Colored FAB button with ripple -->
                    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" asp-area="" asp-page="/Setup/Character" asp-route-realm="@character.Realm.Slug" asp-route-name="@character.Name">
                        <i class="material-icons">add</i>
                    </a>
                </td>
            </tr>
        }
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Paul McCartney</td>
            <td class="mdl-data-table__cell--non-numeric">The cute one</td>
            <td>73</td>
            <td class="mdl-data-table__cell--non-numeric">Yes</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">George Harrison</td>
            <td class="mdl-data-table__cell--non-numeric">The shy one</td>
            <td>58</td>
            <td class="mdl-data-table__cell--non-numeric">No</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Ringo Starr</td>
            <td class="mdl-data-table__cell--non-numeric">The funny one</td>
            <td>74</td>
            <td class="mdl-data-table__cell--non-numeric">Yes</td>
        </tr>
    </tbody>
</table>